<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center py-3 h3 ">ブログ一覧</h1>
      <a href="/blog/create" class="btn btn-primary w-25 mb-3 mx-auto d-block">新規ブログ投稿</a>
    </div>
    <div class="col-md-6 mx-auto">
      <ul>
        <li *ngFor="let blogContents of blogs" class="border-bottom py-3 list-unstyled d-flex justify-content-between align-items-center">
          <a href="/blog/detail/{{blogContents.id}}">{{ blogContents.title }}</a>
          <a class="btn btn-outline-danger" (click)="deleteBlog(blogContents.id)">削除</a>
        </li>
      </ul>
    </div>
  </div>
</div>